body {
    background-color: black;
}
.choice_button {
    display: flex;
    width: 50px;
    height: 80px;
    justify-content: space-around;
    background-color: blue;
}
#game-container {
    background-color: crimson;
   border: 3px solid black;
   margin: 0 auto;
   width: 80%;
   padding: 20px;
   text-align: center;
   border-radius: 5px;
}
#story-container {
    background-color: #f6feff;
   border: 3px solid black;
   margin: 0 auto;
   width: 80%;
   padding: 20px;
   text-align: center;
   border-radius: 5px;
}
#button-container {
    background-color: green;
    border: 3px solid black;
   margin: 0 auto;
   width: 80%;
   padding: 20px;
   text-align: center;
   border-radius: 5px;
}
