body {
    background-color: black;
}
.choice_button {
    display: flex;
    width: 50px;
    height: 80px;
    justify-content: space-around;
    background-color: blue;
}
#game-container {
    background-color: crimson;
    display: flex;
    justify-content: center;
    vertical-align: center;
    width: 500px;
    height: 1000px;
}
#story-container {
    background-color: #a8ccd7;
    display: flex;
    justify-content: center;
    vertical-align: center;
    width: 450px;
    height: 600px;
}
#button-container {
    background-color: green;
    display: flex;
    justify-content: center;
    vertical-align: center;
    width: 500px;
    height: 1000px;
}
